<div class='rowSec'>
  <div class='colors col-12'>
    <% @colors.each do |color| %>
      <div class='col-2' style="background-color: <%= color %>; cursor: pointer" onclick="submitForm(<%= color %>)">
        <form action="/search/new/<%= color %>" method="post" id="<%= color %>">
          <input type='submit' style="visibility: hidden"/>
        </form>
      </div>
      <% end %>
  </div>
</div>
