<div class='rowSec'>
  <div class='colours col-12'>
  <% @colors.each do |color| %>
  <a class='col-2' id="<%= color %>" style="background-color: <%= color %>" href='#'></a>
  <% end %>
</div>
</div>
